future
emoji
lxml
gogoanime-api
wget
gtts
requests==2.20.0
python-telegram-bot==12.8
zalgo-text
telethon
telegraph
heroku3
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram
asyncio
dnspython
bing_image_downloader
